@import "../../sass/main.scss";

.home {
  display: grid;
  grid-template-rows: 80vh min-content;

  &__main {
    color: $color-white;
    align-self: center;
    justify-self: center;
  }

  &__title {
    animation: moveInLeft 1s;
  }
}

.articles {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 1rem;
}

.article {
  background: $color-white;
  cursor: pointer;
  transition: all 0.3s;

  display: grid;
  grid-row-gap: 1rem;

  &__image-wrapper {
    transition: all 0.5s;
  }

  &__image {
    width: 100%;
    height: 25vh;
  }

  &__title {
    padding: 0.5rem;
  }

  &:hover &__image-wrapper {
    filter: brightness(80%);
  }

  &:hover {
    transform: scale(1.1);
  }
}
