// COLORS
$color-red-dark-1: #93291e;
$color-red-light-1: #ed213a;
$color-red-light-2: #ff3430;

$color-yellow-dark-1: #fdc90e;
$color-yellow-dark-2: #ffde66;
$color-yellow-light-1: #f1f104;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
