// COLORS
$color-red-dark-1: #93291e;
$color-red-light-1: #ed213a;
$color-red-light-2: #ff3430;

$color-purple-dark-1: #3c1053;
$color--light-1: #ad5389;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
