@import "../../sass/main.scss";

.article {
  background: $color-white;
  cursor: pointer;
  transition: all 0.3s;

  display: grid;
  grid-row-gap: 1rem;

  &__image-wrapper {
    transition: all 0.5s;
  }

  &__image {
    width: 100%;
    height: 25vh;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 0.5rem 0.5rem 0.5rem rgba(rgb(179, 156, 156), 1);
    color: transparent;
    background: url("../../shared//images/water.jpg");
    -webkit-background-clip: text;
  }

  &__more {
    text-align: right;
    padding: 1rem;
    font-size: 1.3rem;
  }

  &__more-info {
    display: inline-block;
    padding: 0.5rem;
    border-bottom: 1px solid $color-purple-dark-1;
    transition: all 0.3s;

    &:hover {
      background-color: $color-purple-dark-1;
      color: $color-white;
      border-bottom: 1px solid transparent;
    }
  }

  &:hover &__image-wrapper {
    filter: brightness(80%);
  }

  &:hover {
    transform: scale(1.1);
  }
}
