@import "../../sass/main.scss";

.category {
  display: grid;
}

.slider {
  overflow: hidden;
  position: relative;

  &__main {
    display: flex;
    position: relative;
  }

  &__btn {
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);

    padding: 3rem 1rem;
    border: 0;
    background: $color-red-dark-1;
    color: $color-white;
    transition: all 0.2s;

    &--right {
      right: 0;
    }

    &:hover {
      background: $color-red-light-1;
    }
  }
}

.article {
  background: $color-white;
  cursor: pointer;
  transition: all 0.3s;

  display: grid;
  grid-row-gap: 1rem;

  &__image-wrapper {
    transition: all 0.5s;
  }

  &__image {
    width: 100%;
    height: 25vh;
  }

  &__title {
    padding: 0.5rem;
  }

  &:hover &__image-wrapper {
    filter: brightness(80%);
  }

  &:hover {
    transform: scale(1.1);
  }
}

.shift {
  transition: left 0.5s;
}
