@import "../../sass/main.scss";

.category {
  display: grid;
}

.select {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  justify-self: end;
  align-self: start;

  position: relative;
  padding: 1rem;
  background: $color-white;
  cursor: pointer;

  &:hover &__options {
    display: block;
    animation: fadeIn 1s forwards;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    background: $color-grey-light-2;
    font-size: 1.2rem;
  }

  &__option {
    padding: 0.5rem;
    border-bottom: 1px solid $color-grey-dark-1;
    transition: all 0.3s;

    &:hover {
      background: $color-grey-dark-1;
      color: $color-white;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slider {
  grid-row: 1 / -1;
  grid-column: 1 / -1;

  overflow: hidden;
  position: relative;
  align-self: end;

  &__main {
    display: flex;
    position: relative;
  }

  &__btn {
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);

    padding: 3rem 1rem;
    border: 0;
    background: $color-red-dark-1;
    color: $color-white;
    transition: all 0.2s;

    &--right {
      right: 0;
    }

    &:hover {
      background: $color-red-light-1;
    }
  }
}

.article {
  background: $color-white;
  cursor: pointer;

  display: grid;
  grid-row-gap: 1rem;

  &__image-wrapper {
    // transition: all 0.5s;
  }

  &__image {
    width: 100%;
    height: 25vh;
  }

  &__title {
    padding: 0.5rem;
  }

  &:hover &__image-wrapper {
    filter: brightness(80%);
  }

  &:hover {
    // transform: scale(1.1);
  }
}

.shift {
  transition: left 0.5s;
}
