@import "../../../sass/main.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 8500;

  background: rgba($color-purple-dark-1, 0.8);

  display: none;
}

.show {
  display: block;
}
